@using GrpcProxy.Grpc

@if (Message != null)
{
	<div class="card" style="margin-bottom: 5px;">
		<div class="card-header">
			<div class="row">
				<div class="col">@Message.Timestamp <span class="badge @BadgeColor">@Message.MethodType @Direction</span> <b>@SourceDisplay:</b> @Message.Endpoint <b>Path:</b> @Message.Path</div>
				<div class="col-md-auto text-end"><Button class="btn btn-outline-info btn-sm" type="button" @onclick="ToggleDetails">Details</Button></div>
			</div>
		</div>
		<div class="card-body">
			@if (!Message.IsCancelled)
			{
				<b>Content:</b> @Message.Message
			}
			else
			{
				<text>Cancelled</text>
			}
			<br>
			<div class="@Collapsible">
				<b>ProxyId:</b> @Message.ProxyCallId<br>
				@if (Message.StatusCode.HasValue)
				{
					<b>Status Code: </b> @Message.StatusCode.Value

					<br>
				}
				<b>Headers:</b><br>
				<ul>
					@foreach (var header in Message.Headers)
					{
						<li>@header</li>
					}
				</ul>
			</div>
		</div>
	</div>
}

@code {

	[Parameter]
	public ProxyMessage? Message { get; set; }

	public string SourceDisplay
	{
		get
		{
			if (Message == null || Message.IsCancelled)
				return "Client";
			return Message.Direction switch
			{
				MessageDirection.Request => "Request",
				MessageDirection.Response => "Response",
				MessageDirection.None => "Proxy Error",
				_ => throw new NotImplementedException()
			};
		}
	}

	public string BadgeColor
	{
		get
		{
			if (Message == null || Message.IsCancelled)
				return "bg-danger";
			return Message.Direction switch
			{
				MessageDirection.Request => "bg-info",
				MessageDirection.Response => "bg-warning text-dark",
				MessageDirection.None => "bg-danger text-dark",
				_ => throw new NotImplementedException()
			};
		}
	}

	public string Direction
	{
		get
		{
			if (Message == null || Message.IsCancelled)
				return "Cancelled";
			return Message.Direction.ToString();
		}
	}

	private bool isCollapsed = true;

	private string? Collapsible => isCollapsed ? "collapse" : null;

	private void ToggleDetails() => isCollapsed = !isCollapsed;
}
